.EightSeasonsCalendarMonth {
  float: left;
  margin: 15px 15px 0;
  border-collapse: collapse;
}
.EightSeasonsCalendarMonth td {
  text-align: center;
  font-weight: 600;
}
.EightSeasonsCalendarMonth td div,
.EightSeasonsCalendarMonth tr div {
  font-size: .9em;
  padding: 0 6px;
}
.EightSeasonsCalendarMonth small {
  font-weight: 300;
  color:rgba(0, 0, 0, .75)
}
.esc-empty-column {
  background: #f6f6f6
}
.esc-month-header {
  text-align: center;
  font-weight: normal;
}
.esc-month-header > div {
  display: flex;
}
.esc-month-header i {
  display: inline-block;
  /* vertical-align: middle; */
}
.esc-month-header > div div:first-of-type {
  flex-grow: 1;
  text-align: left;
  padding-bottom: 8px;
}
.esc-month-header > div div:last-of-type {
  color: #555;
  padding-top: 6px;
  text-align: right;
  font-size: 1em;
}
.esc-month-footer {
  color: #555;
  padding-top: 10px;
  text-align: left !important;
  font-weight: normal !important;
}
.esc-day div {
  border: 2px solid rgba(0, 0, 0, 0);
  border-radius: 3px;
}
.esc-day.special div {
  border: 2px solid rgba(0, 0, 0, .3);
}
.esc-day.sunday div {
  background: rgba(0, 0, 0, .15);
}
.esc-weekdays {
  color: #bbb;
  padding: 2px 0 4px;
}
@media screen {
  #calendar {
    width: 1328px;
    margin: auto;
    font-size: .79em !important;
  }
  .esc-day.today * {
    color: white;
  }
  .esc-day.today div {
    border: 2px solid rgba(0, 0, 0, 0);
    background: rgba(0, 0, 0, .7);
  }
}
@media print {
  body {
    width: 1520px;
  }
}
